{% extends "layout.html" %}

{% block title %}
    FAQ
{% endblock %}

{% block main %}

    <div class="container col-xxl-8 px-4 py-2">
        <div class="row align-items-center g-5 py-3">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="static/faq.png" class="d-block mx-lg-auto img-fluid" alt="cute jar" width="400" height="400" loading="lazy">
            </div>
            <div class="col-lg-6 text-start">
                <h1 class="display-5 fw-bold lh-1 mb-3">Happiness Jar</h1></br>
                <p class="lead">A happiness jar is a physical container filled with notes or pieces of paper that capture memories, moments of gratitude, or positive thoughts that bring joy. These jars serve as a source of comfort and a reminder of the good things in one's life. This website is an online version of that physical jar.
                </p>
            </div>
        </div>
    </div>

     <div class="b-example-divider"></div>
{% endblock %}
